.navbar {
  background-color: #222;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #00bcd4;
}